// RCPCH now has an expanded colour palette to meet the growing needs of all communications.
// Colour is a useful tool to communicate structure, meaning and to add interest but it is
// important that it is used judiciously. It can be used to contrast or co-ordinate.

// As a general rule:
// * The RCPCH Main Brand colours should predominate.
// * SGA colours should predominate for allocated Strategic Growth Area activities
// * Any single secondary colour from the bright colour palette can be used to add emphasis.
// * To create balance these bright colours should be juxtaposed with one or more of the cool greys

// Please contact the Digital and Creative Media team for advice before using colour in each instance.

// Main Brand
$rcpch-bright-blue: #11a7f2;
$rcpch-dark-blue: #0d0d58;

// Strategic Growth Area Colours
$rcpch-purple: #7159aa;
$rcpch-magenta: #E00087;
$rcpch-strong-green: #66cc33;

// In the branding guidance document, Secondary colours are shown 'linked' to RCPCH Strong Blue
$rcpch-strong-blue: #3366cc;
// Secondary Colours
$rcpch-red: #e60700;
$rcpch-orange: #ff8000;
$rcpch-yellow: #fdc300;
$rcpch-gold: #c2a712;
$rcpch-vivid-green: #c8d400;
$rcpch-aqua-green: #00bdaa;

// Greys
$rcpch-white: #ffffff;
$rcpch-light-grey: #d9d9d9;
$rcpch-mid-grey: #b3b3b3;
$rcpch-dark-grey: #808080;
$rcpch-charcoal: #4d4d4d;
$rcpch-black: #000000;


